.categoryTitle{
    margin-top: 40px;
}

.general{
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.categoryName{
    display: flex;
    justify-content: center;

}

.allTitle{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;

}
.box{
    display: flex;
    border: 1px black solid;
    width: 60%
}
.title{
    width: 70%;
    background-color: aqua;
}
.numberBook{
    width: 30%;
    background-color: brown;
}
.imageTitle{
    width: 100%;
}
