html{
    background-color: #f0f0f0;
     font-family: sans-serif;
   }

.CatB {
background-color: #0d4e99;
color: white;
border: none;
cursor: pointer;
padding:20px;
margin-top:20px;
font-size: 30px;
}
.CatB:hover {
background-color: #193380;
}
.Cat1 {
position: relative;
display: inline-block;
}
.Cat2 {
display: none;
background-color: #11408a8a;
min-width: 50px;
}
.Cat2 a {
color: white;
padding: 20px;
text-decoration: none;
display: block;
}
.Cat1:hover .Cat2 {
display: block;
}
.CatBReturn{
    background-color: #0d4e99;
    color: white;
    border: none;
    cursor: pointer;
    margin-top:20px;
    font-size: 30px;
}
.CatBReturn a{
    color: white;
    padding: 20px;
    padding-left: 48px;
    padding-Right: 47px;
    text-decoration: none;
    display: block;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    display: flex;
}

input,

label {
    margin:.4rem 0;
}

.chercher {
    display: flex;
}
.floatLeft{
    float: left;
}   
.floatRight{
    float: Right;
}
.positionAbsolute{
    width: 100%;
    position: absolute;
}

.generalhome{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: flex-end   ;
}

.blockitemhome {
    margin-top: 40px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    height: 35%;
    width: 30%;
    border: 1px black solid;
}

.titletitle {
    height: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:40px;
    text-decoration: underline;
}

.fleex {
    display: flex;
    justify-content: flex-end;

}

.search-btn {
    display: flex;
    justify-content:right;
}

.search {
    display: flex;
    justify-content: right;
}